<h2>Tasks</h2>
<div class="container">
  <table id="example" class="table table-striped table-bordered" style="width: 1000px;">
    <thead>
      <th>Name</th>
      <th>Last Heard From</th>
      <th>Active</th>
      <th>Ignore Window (UTC)</th>
      <th>actions</th>
    </thead>
    <tbody>
      <% Task.ordered_by_name.unignored.temp_unignored.each do |t| %>
        <tr class="<%= 'bg-secondary text-white' if t.ignore %>">
          <td>
            <%= t.name %><%#= t.id %>
          </td>
          <td>
            <%= t.last_heartbeat_at %>
          </td>
          <td>
            <%= t.active? %>
          </td>
          <td>
            <%= t.temp_time_windows %>
          </td>
          <td>
            <% if !t.active? %>
              <%= button_to "Mark As Active", mark_as_active_task_path(t)  %>
            <% end %>
            <% if t.ignore %>
              <%= button_to "Mark As Unignore", mark_as_unignore_task_path(t)  %>
            <% end %>
            <% if !t.ignore %>
              <%= button_to "Mark As Ignore", mark_as_ignore_task_path(t)  %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<h2>Temp Ignored Tasks (UTC: <%= Time.now.utc.strftime("%H:%M") %>)</h2>
<div class="container">
  <table id="example" class="table table-striped table-bordered" style="width: 1000px;">
    <thead>
      <th>Name</th>
      <th>Last Heard From</th>
      <th>Active</th>
      <th>Ignore Window (UTC)</th>
      <th>actions</th>
    </thead>
    <tbody>
      <% Task.ordered_by_name.unignored.temp_ignored.each do |t| %>
        <tr class="<%= 'bg-secondary text-white' if t.ignore %>">
          <td>
            <%= t.name %><%#= t.id %>
          </td>
          <td>
            <%= t.last_heartbeat_at %>
          </td>
          <td>
            <%= t.active? %>
          </td>
          <td>
            <%= t.temp_time_windows %>
          </td>
          <td>
            <% if !t.active? %>
              <%= button_to "Mark As Active", mark_as_active_task_path(t)  %>
            <% end %>
            <% if t.ignore %>
              <%= button_to "Mark As Unignore", mark_as_unignore_task_path(t)  %>
            <% end %>
            <% if !t.ignore %>
              <%= button_to "Mark As Ignore", mark_as_ignore_task_path(t)  %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<h2>Ignored Tasks</h2>
<div class="container">
  <table id="example" class="table table-striped table-bordered" style="width: 1000px;">
    <thead>
      <th>Name</th>
      <th>Last Heard From</th>
      <th>Active</th>
      <th>Ignore Window (UTC)</th>
      <th>actions</th>
    </thead>
    <tbody>
      <% Task.ordered_by_name.ignored.each do |t| %>
      <tr class="<%= 'bg-secondary text-white' if t.ignore %>">
        <td>
          <%= t.name %><%#= t.id %>
        </td>
        <td>
          <%= t.last_heartbeat_at %>
        </td>
        <td>
          <%= t.active? %>
        </td>
        <td>
          <%= t.temp_time_windows %>
        </td>
        <td>
          <% if !t.active? %>
            <%= button_to "Mark As Active", mark_as_active_task_path(t)  %>
          <% end %>
          <% if t.ignore %>
            <%= button_to "Mark As Unignore", mark_as_unignore_task_path(t)  %>
          <% end %>
          <% if !t.ignore %>
            <%= button_to "Mark As Ignore", mark_as_ignore_task_path(t)  %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>